/*
Memory Manager Simulator
Name: David Pirraglia
Professor: Sister Jane Fritz
Class: COM 310
*/

/*Center the title of the page*/
#title {
	text-align: center;
}

/*Position the Memory Chart*/
#container {
	display: block;
	width: 50%;
	margin: auto;
}

#memoryChart {
}

#tabs {
	margin-top: 25px;
}
